img {
  width: 100px;
}
body {
  padding: 20px;
  padding-top: 80px;
}
.MuiButton-root {
  text-transform: none !important;
}
.DateRangePicker {
  position: absolute !important;
}

* ::placeholder,
.placeholder-color {
  color: #51576d !important;
  opacity: 1 !important;
}
